body {
    background-image: linear-gradient(45deg, #FF8552, rgba(228, 225, 219, 1));
    color: #39393A;
    overflow-x: hidden;
    min-height: 100vh;
}

.page-transition-right-out {
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-name: slideoutright;
}

.page-transition-left-in {
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-name: slideinleft;
}

.page-transition-left-out {
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-name: slideoutleft;
}

.page-transition-right-in {
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-name: slideinright;
}

.page-invisible {
    display: none;
}

.menu-btn {
    cursor: pointer;
}

.bg-brown {
    background-color: #402114;
    color: #E6E6E6;
}

.bg-orange {
    background-color: #FF8552;
}

.bg-darkorange {
    background-color: #E67849;
}

.w-80 {
    width: 80%;
}

.li-hover > li:hover {
    transition: 0.5s;
    background-color: #85FFC7;
    border-radius: 10px;
}

.li-hover > li {
    transition: 1s;
}

.progress, .progress-bar {
    height: 1.5vh;
}

.clickable, .redirect-btn {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes slideoutright {
    from {
        margin-left: 0%;
        margin-right: 0%;
    }

    to {
        margin-left:100%;
        margin-right: -100%;
    }
}

@keyframes slideoutleft {
    from {
        margin-left: 0%;
        margin-right: 0%;
    }

    to {
        margin-left: -100%;
        margin-right: 100%;
    }
}

@keyframes slideinright {
    from {
        margin-left: 100%;
        margin-right: -100%;
    }

    to {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@keyframes slideinleft {
    from {
        margin-left: -100%;
        margin-right: 100%;
    }

    to {
        margin-left: 0%;
        margin-right: 0%;
    }
}