body {
    background-color: #E6E6E6;
    color: #39393A;
    overflow-x: hidden;
}

.page-transition-out {
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-name: slideoutright;
}

.page-transition-in {
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-name: slideinleft;
}

.bg-brown {
    background-color: #6C534E;
    color: #E6E6E6;
}

.bg-orange {
    background-color: #FF8552;
}

.li-hover > li:hover {
    transition: 0.5s;
    background-color: #85FFC7;
    border-radius: 10px;
}

.li-hover > li {
    transition: 1s;
}

@keyframes slideoutright {
    from {
        margin-left: 0%;
        margin-right: 0%;
    }

    to {
        margin-left:100%;
        margin-right: -100%;
    }
}

@keyframes slideoutleft {
    from {
        margin-left: 0%;
        margin-right: 0%;
    }

    to {
        margin-left: -100%;
        margin-right: 100%;
    }
}

@keyframes slideinright {
    from {
        margin-left: 100%;
        margin-right: -100%;
    }

    to {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@keyframes slideinleft {
    from {
        margin-left: -100%;
        margin-right: 100%;
    }

    to {
        margin-left: 0%;
        margin-right: 0%;
    }
}